{#
/**
 * @file color.html.twig
 * Default theme implementation to present Color data.
 *
 * This template is used when viewing Color pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_color()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('color') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
